<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DevStart - Comece a Programar</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <div>
      <h1>Dev</h1>
      <h1>Start</h1>
    </div>

    <ul>
      <li><a href="/landingPage">DevStart</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Cadastrar-se</a></li>
    </ul>
  </header>

  <main>
    <aside>
      <h1>Comece a programar do zero com a <span>DevStart</span>!</h1>
      <p>Você quer aprender a programar mas não sabe por onde começar? A gente te ajuda!</p>
      <p>Na <span>DevStart</span>Você vai aprender passo a passo, de forma simples e pratica. Mesmo que nunca tenha escrito uma linha de código</p>
      <p>Você não precisa ser expert para começar <br> só precisa dar o primeiro passo!</p>
    </aside>

    <article>
      <img src="{{ url_for('static', filename='icon-landingPage.png') }}" alt="personagem do site" width="400" height="400">
    </article>
  </main>

  <footer>
  </footer>
</body>
</html>

